:root {
	--background-color: #FAFAFA;
	--button-text-color: #000C;
	--action-button-border-color: #000C;
	--quiet-text-color: #888;
	--very-quiet-text-color: #AAA;
	--separator-color: #d8d8d8;
	--accent-color-hover: #Dba659;
	--accent-color-active: #797979;
	--progbar-dark-text:#222;
	--progbar-light-text:#555;
	--odd-list-color:#e5e5e5;
	--action-btn-color: #fdc679;

	--tiny-gap: 0.1em;
	--small-gap: 0.35em;
	--medium-gap: 0.65em;
	--large-gap: 1.25em;
	--comfy-gap: 0.4em;

}
:root body.darkmode {
	--header-background-color: rgb(58, 58, 58);
	--button-text-color: #FFF;
	--action-button-text-color:#aaa;
	--action-button-border-color: #FFF;
	--action-btn-color:#b37723;
	--separator-color: #555;
	--odd-list-color:#222;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: rgb(250, 250, 250);
	overflow: hidden;
	margin: 0;
}

body.darkmode {

	background:#1a1a1a;
	color: #D7DADC;
}

input[type="button"], button, div.text-button {
	background-color: rgb(231, 229, 229);
	border-radius: 2px;
	border: 1px solid #0006;
	padding: 4px;
	margin: 4px;
	text-align: center;

}

div.popup {
	height:auto;
	min-height:100px;
	min-width:200px;
	max-width:240px;
	position: absolute;
	z-index:20000;
	left:50%;
	top:20%;
	align-self: center;
	background:inherit;
	padding:12px;
	border: 1.5px solid rgb( 100, 100,100);
	border-radius: 0.20rem;
}

div.text-button {
	display:flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-size: 0.9em;
}
.text-button a {
	margin:0px;
	padding:0px;
}

.darkmode input[type="button"],
.darkmode button,
.darkmode .text-button {
	background-color:#181818;
	border-color: rgb(100,100,100);
	color:#D7DADC;
}
.darkmode input[type="button"]:hover, .darkmode button:hover, .darkmode .text-button:hover {
	background-color: rgb(95, 95, 95);
}

.darkmode input[type="button"]:disabled, .darkmode button:disabled, .darkmode .text-button:disabled {
	color: grey;
	background-color: rgb(7, 7, 7);
}

input[type="button"]:enabled:active, button:enabled:active, .hilite {
	background-color: rgb(121, 121, 121);
}

input[type="button"]:hover, button:hover, .text-button:hover {
	background-color: rgb(194, 194, 194);
}

.runnable button {
	background: var(--action-btn-color);
}

.runnable button:hover {
	background:#Dba659;
}

.darkmode .runnable button:hover {
	background:rgb(197, 150, 79)
}

input[type=text].fld-name {
	border: none;
	border-bottom: 1px dotted black;
	background: inherit;
	margin: 1px;
}

.darkmode .fld-name {
	color: var( --button-text-color);
}

.inv {
	overflow-y: auto;
}

ul {
	list-style-type: none;
	padding: 2px;
}

.flex-right {
	display:flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.num-align {
	text-align: right;
}

div.div-hr {
	border-bottom: 1px solid black;
	margin-bottom: 6px;
	padding-bottom:2px;
}

a {
	color:inherit;
}

.text-button:link, .text-button:visited {
	color: inherit;
	text-decoration: none;
}

.darkmode .text-button,
.darkmode .text-button:visited {
	color:inherit;
}

.inline {
	display:inline-block;
}

.action-btn {
	display:inline-block;
	text-transform: capitalize;
	margin: 4px;
	border: 2px solid transparent;
	padding: 1px;
	max-width: 118px;
}

.action-btn.darkmode {
	color: var(--action-button-text-color);
}
.running {
	border: 2px dashed #202020;
	padding: 1px;
}

.wrapped-btn {
	margin:0px;
	padding: 8px 4px;
	min-width: 118px;
	height:100%;
	font-size:0.9em;
}

.locked { display:none;}

div.log-item {
	padding: 4px; margin: 1px 0; border-bottom: 1px dotted var(--quiet-text-color);
}

.log-title {
	font-weight: bold;
}

.log-text {
	font-weight: normal;
}

.item-name {
	text-transform: capitalize;
}

.sm-name {
	text-transform: lowercase;
}

.darkmode .running {
	border-color: rgb(100,100,100);
}

div.homes-view {
	display:flex;
	flex-direction: column;
}

.table-head {
	border-bottom: 1px solid black;
	padding-bottom: 4px;
}

.flex-row {
	display:flex;
	flex-direction: row;
}

.flex-col {
	display:flex;
	flex-direction: column;
}

.separate {
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

.warn-text {
	margin: 4px 0px;
	color:rgb(216, 8, 8);
}
.note-text {
	padding:0px;
	margin:6px 0px;
	font-style: italic;
	font-size: 0.85em;
}

div.stamina-bar {
	display:inherit;
	margin: 0px 4px;
	flex-grow: 3;
	justify-content: end;
	text-align: end;
}

.text-entry::before {
	content: '\270E'; top: 20px; left: 0; color :#AAA; width: 100%; height: 100%;
}
table.item-table {
border-spacing: 0px;
}

table.item-table tr, table.item-table th {
	border-spacing: 0px;
	max-height: unset; padding: unset;
}

.menu-content {
	border-top: 1px solid var( --separator-color );
	margin-top:4px;
	padding-top: 8px;
	max-height: 90%;
	height:100%;
}

.menu-items {
	display:flex;
	margin: 0px 10px 2px;
	flex-flow: row wrap;
	justify-content: center;
}

.menu-item {
	font-size: 1.1em;
	cursor: pointer;
	margin: 2px 10px;
	justify-content: center;
}

button.btn-sm {
	padding:3px 8px;
}

div.bgfill {
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 0px;
	display:block;
	opacity: 0.4;
	height: 100%;
	width:100%;
}

div.hp .fill, div.hp .bgfill {
	background:#ac0404;
}

.darkmode .bgfill {
	opacity: 0.8;
}

/*div.arcane .fill, div.arcane.bgfill {
	background:#8011ac;
}*/

div.mana .fill, div.mana .bgfill {
	background: #2531b3;
}

div.fire .fill, div.fire .bgfill {
	background:#ce230c;
}

div.water .fill, div.water .bgfill {
	background:#0479c2;
}
div.air .fill, div.air .bgfill {
	background:#e9e4e4;
}

div.earth .fill, div.earth .bgfill {
	background:#c27304;
}

div.shadow .fill, div.shadow .bgfill {
	background:#3a0e66;
}

div.nature .fill, div.nature .bgfill {
	background:#045a04;
}

div.spirit .fill, div.spirit .bgfill {

	background:#afa5a5;
}

div.light .fill, div.light .bgfill {
	background:#f0c907;
}

div.tempus .fill, div.tempus .bgfill {
	background:#c27304;
}
div.void .fill, div.void .bgfill {
	background:#373737;
}

.sm {
	font-size: 0.75em;
}